.button {
    border: 0;
    text-decoration: none;
    transition: all $t1;
    cursor: pointer;
    display: inline-block;

    &:hover {
    }

    &.disabled,
    &[disabled] {
        pointer-events: none;
        opacity: 0.35;
    }
}
