p,
ul,
ol {
}

h1 {
    font-size: 5.5rem;
    font-weight: normal;

    @include mq-down(sm) {
        font-size: 3.5rem;
    }
}

h2 {
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 3.5rem;

    @include mq-down(sm) {
        font-size: 2.5rem;
    }
}

h3 {
    font-weight: normal;
    font-size: 3rem;
}

h4 {
}

h5 {
}

h6 {
}

a {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

::selection {
    background: $cp1;
    color: $cp2;
}
