:root {
    --gap: 5.42vw;

    @media screen and (max-width: 1400px) {
        --gap: 3.15vw;
    }

    @media screen and (max-width: 767px) {
        --gap: 5.33vw;
    }
}

$cp1: #1c1c1c; //Cod Gray
$cp2: #fff; //White

$font: "aktiv-grotesk", sans-serif;
$font-icon: "icon-font";

$max-viewport: 1600px;
$gap: var(--gap);

$t1: 0.25s;
$t2: 0.5s;

$bounce: cubic-bezier(0.35, 0, 0.22, 1.26);
$bounce-soft: cubic-bezier(0.35, 0, 0.22, 1);

$bp: (
    xs: 0,
    s: 375px,
    sm: 576px,
    md: 768px,
    lg: 1050px,
    xl: 1336px,
    fullhd: 1920px,
    retina: 2000px,
) !default;
