.header {
    padding: 56px 0;
    background: $cp2;
    position: relative;
    z-index: 5;

    @include mq-down(xl) {
        padding: 27px 0;
    }

    @include mq-down(md) {
        padding: 41px 0;
    }

    .has-scroll-init & {
        .logo,
        nav ul li,
        .header__lang,
        .menu-toggle {
            opacity: 0;
            transform: translateX(-100%);
            transition: all $t2;
        }

        nav ul li {
            @for $i from 1 to 5 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.25s + $i * 0.15s;
                }
            }
        }

        .menu-toggle {
            transition-delay: 0.25s;
        }

        .header__lang {
            transition-delay: 1s;
        }

        &.is-inview {
            .logo,
            nav ul li,
            .header__lang,
            .menu-toggle {
                transform: none;
                opacity: 1;
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .logo {
        min-width: 134px;
        max-width: 134px;
        display: block;
        line-height: 0;
        transition: all $t1;
        position: relative;
        z-index: 1;

        @include mq-down(md) {
            min-width: 94px;
            max-width: 94px;
        }

        &:hover {
            opacity: 0.75;
        }
    }

    .nav-wrapper {
        @include mq-down(md) {
            position: absolute;
            top: 0;
            width: 400px;
            right: 0;
            background: $cp2;
            transform: translateX(100%);
            transition: all 0.5s;
            border-left: 2px solid;
            border-bottom: 2px solid;
            padding: 131px 0 0;

            .nav-open & {
                transform: none;
            }
        }

        @include mq-down(s) {
            width: 100vw;
            border-left: 0;
        }

        .nav-inner {
            @include mq-down(md) {
                overflow: auto;
                max-height: calc(100vh - 131px);
                padding-bottom: 131px;
            }
        }

        .desc {
            display: none;

            @include mq-down(md) {
                display: block;
                margin: 64px 33px 0;
                font-size: 1.8rem;
            }

            a {
                text-decoration: none;
            }
        }
    }

    nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        font-size: 2.4rem;

        @include mq-down(md) {
            display: block;
            font-size: 1.8rem;
            border-top: 2px solid;
            position: relative;
        }

        li {
            @include mq-down(md) {
                border-bottom: 2px solid;
            }

            &.current-menu-item a {
                @include mq-down(md) {
                    //font-weight: 600;
                }

                &:before {
                    width: calc(100% - 0.5rem);
                    opacity: 1;
                }
            }

            &.contact {
                @include mq-down(md) {
                    order: 10;
                    border-bottom: none;
                    padding: 73px 0 0 33px;
                    max-width: 150px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                        font-size: 3rem;
                        padding: 0;
                    }
                }
            }
        }

        a {
            text-decoration: none;
            display: inline-block;
            padding: em(10, 24) 0;
            margin: 0 em(36, 24);
            position: relative;

            @include mq-down(md) {
                font-size: 5rem;
                display: block;
                margin: 0;
                padding: em(23, 50) em(33, 50);
            }

            &:hover {
                &:before {
                    width: calc(100% - 0.5rem);
                    opacity: 1;
                }
            }

            &:before {
                position: absolute;
                bottom: em(5, 24);
                content: "";
                left: 0.25rem;
                transition: all $t2;
                border-top: 2px solid;
                width: 0;
                opacity: 0;

                @include mq-down(md) {
                    display: none;
                }
            }

            &.header__lang {
                margin-right: 0;

                @include mq-down(md) {
                    font-size: 3rem;
                    padding: 0;
                    position: absolute;
                    bottom: 0;
                    left: 200px;
                }

                @include mq-up(lg) {
                    border: 2px solid;
                    padding: 10px 7px 8px 7px;
                    line-height: 1;
                    font-size: 1.9rem;
                    transition: all $t1;

                    &:hover {
                        background: $cp1;
                        border-color: $cp1;
                        color: $cp2;
                    }

                    &:before {
                        display: none;
                    }
                }
            }
        }

        ul {
            @extend %reset-list;

            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            @include mq-down(md) {
                flex-direction: column;
                align-items: initial;
            }
        }
    }

    .menu-toggle {
        text-transform: uppercase;
        font-size: 2rem;
        text-decoration: none;
        padding: 0 em(6, 20);
        text-align: right;
        position: relative;

        @include mq-up(lg) {
            display: none;
        }

        .open,
        .close {
            transition: all $t2;
        }

        .open {
            .nav-open & {
                opacity: 0;
                transform: translateY(-100%);
            }
        }

        .close {
            right: 0;
            position: absolute;
            opacity: 0;

            .nav-open & {
                opacity: 1;
                transform: translateY(-100%);
            }
        }
    }
}

.header-spacer {
    /* height: 183px;

    @include mq-down(xl) {
        height: 125px;
    }

    @include mq-down(md) {
        height: 132px;
    } */
}
