.hero {
    padding-left: $gap;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: percent(182, 1366);

    @include mq-down(md) {
        flex-direction: column-reverse;
        padding-right: $gap;
        margin-bottom: percent(90, 768);
        padding-bottom: percent(80, 768);
        border-bottom: 2px solid;
    }

    @include mq-down(sm) {
        margin-bottom: percent(70, 375);
        padding-bottom: percent(90, 375);
    }

    &.is-home {
        margin-bottom: 0;

        @include mq-down(xl) {
            margin-bottom: percent(67, 1337);
        }

        @include mq-down(md) {
            margin-bottom: percent(145, 768);
            flex-direction: column;
            padding: 0;
            border-bottom: 0;
        }

        @include mq-down(sm) {
            margin-bottom: percent(83, 375);
        }

        .infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;

            @include mq-down(md) {
                margin-bottom: 50px;
                padding: 0 $gap;
            }
        }

        .text {
            @include mq-down(md) {
                column-count: 1;
                column-gap: 0;
                max-width: 600px;
            }
        }

        .img {
            min-width: percent(1111, 1800);
            max-width: percent(1111, 1800);
            margin-left: percent(118, 1800);

            @include mq-down(xl) {
                min-width: percent(846, 1321);
                max-width: percent(846, 1321);
                margin-left: percent(69, 1321);
            }

            @include mq-down(md) {
                min-width: 0;
                max-width: none;
                width: 100%;
                border-left: 0;
                border-right: 0;
                margin: 0;
            }

            &:before {
                padding-top: percent(500, 1111);

                @include mq-down(xl) {
                    padding-top: percent(475, 846);
                }

                @include mq-down(md) {
                    padding-top: percent(423, 768);
                }

                @include mq-down(sm) {
                    padding-top: percent(403, 375);
                }
            }
        }
    }

    .infos {
        padding: 50px 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 600px;

        @include mq-down(md) {
            padding: 0;
            max-width: none;
        }
    }

    .title {
        font-size: 8rem;

        @include mq-down(md) {
            display: block;
        }

        @include mq-down(sm) {
            font-size: 5rem;
        }
    }

    .text {
        font-size: 1.6rem;

        @include mq-down(md) {
            column-count: 2;
            column-gap: em(24, 16);
        }

        @include mq-down(sm) {
            column-count: 1;
            column-gap: 0;
        }
    }

    .img {
        border: 3px solid;
        border-right: 0;
        min-width: percent(670, 1337);
        max-width: percent(670, 1337);
        margin-left: percent(137, 1337);
        background: no-repeat center;
        background-size: cover;
        line-height: 0;

        @include mq-down(md) {
            min-width: 0;
            max-width: 100%;
            width: 100%;
            display: block;
            border-right: 3px solid;
            margin: 0 0 percent(79, 688);
        }

        @include mq-down(sm) {
            margin-bottom: percent(28, 330);
        }

        &:before {
            content: "";
            display: block;
            padding-top: calc(100vh - 131px);

            @include mq-down(md) {
                padding-top: percent(492, 688);
            }

            @include mq-down(sm) {
                padding-top: 0;
                padding-top: percent(454, 330);
            }
        }
    }
}
