.error404 {
    .main__container {
        display: flex;
        align-items: center;
    }

    .main-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;

        @include mq-down(sm) {
            display: block;
        }

        .left {
            font-size: calc(min(150px, 8.78477vw));
            line-height: 1;
            margin-right: 10%;

            @include mq-down(sm) {
                font-size: vw(107, 375);
                margin: 0 0 percent(27, 330);
            }
        }

        .right {
            width: 735px;

            @include mq-down(md) {
                width: auto;
            }

            h1 {
                font-size: calc(min(150px, 8.78477vw));
                margin: 0 0 em(91, 120);
                line-height: 1;

                @include mq-down(sm) {
                    font-size: vw(50, 375);
                    margin-bottom: 2em;
                }
            }
        }
    }
}
